body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
  
  
  .calculator {
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
  }
  
  .header {
    background-color: #333;
    padding: 15px;
    text-align: center;
    color: white;
  }
  
  .display {
    background-color: #444;
    color: white;
    text-align: right;
    font-size: 2rem;
    padding: 20px 15px;
    border-bottom: 1px solid #333;
    background: linear-gradient(to bottom, #262626, #1a1a1a);
    animation: gradientAnimation 4s infinite alternate;
  }
  
  @keyframes gradientAnimation {
    from {
      background-position: 0% 50%;
    }
    to {
      background-position: 100% 50%;
    }
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
  }
  
  button {
    background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s, border-radius 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    background: linear-gradient(to bottom, #e0e0e0, #d5d5d5);
    transform: scale(1.05);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  .clear, .equals {
    background: linear-gradient(to bottom, #e74c3c, #c0392b);
    color: white;
  }
  
  .operator {
    background: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 50%;
    transition: background-color 0.2s, transform 0.2s, border-radius 0.4s;
  }
  
  .operator:hover {
    transform: scale(1.05);
    border-radius: 10px;
  }

  /* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .fa-github {
    color: var(--font);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }
  